:root{
   --text-color: #010d01;
   --link-color: #f40a0a;
    --background-color: #b7b3b3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: poppins, sans-serif;
    background-color: var(--background-color); 
}
a {
    text-decoration: none;
    color: var(--link-color);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 500px;
    height: 80px;
}
nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    align-self: start;
}
nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}
nav .right a :last-child{
   color: var(--text-color); 
   margin: 0 10px; 
}
nav .right a:last-child {
   color: var(--background-color);
   background-color: var(--text-color); 
    padding: 8px 16px;
    border-radius: 4px;
}
nav .right a span {
    margin-left: 5px;
}